# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
cdog_website/node_modules
cdog_website/.pnp
.pnp.js

# testing
cdog_website/coverage

# production
cdog_website/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
